// COMPONENTS / MODAL
// ------------------------------------

.modal-open {
	overflow: hidden !important;

	.page-header,
	.page-content,
	.page-footer,
	.page-cta {
		filter: blur(4px);
	}

	// Vertically center
	.modal {
		height: 100%;
		display: flex;
		.modal-dialog {
			margin: auto;
		}
	}
}

.modal-backdrop {
	z-index: 10000 !important;
}

.modal {
	padding: 17px;
	z-index: 10010 !important;
	.modal-title {
		font-weight: 700;
		font-size: 16px;
	}
	.modal-content {
		border-radius: 0;
	}
	&.bootstrap-dialog {
		.modal-header {
			border-radius: 0;
		}
	}
}

.close {
	text-indent: inherit;
	background-image: none !important;
}

// Multiple modals
.modal-backdrop ~ .modal-backdrop {
	z-index: 10010 !important;
}
.modal ~ .modal {
	z-index: 10020 !important;
}

@media (min-width: 1200px) {
	.modal-lg {
		width: 1000px;
	}
}
